section.main
  .row
    .about.medium-6.columns
      h2 Bydgoszcz Web Dev:
      ul
        li
          | Regularne spotkania o tematyce 
          strong web devu.
        li
          | Hostowane w 
          strong Bydgoszczy
          | lecz nie tylko dla Bydgoszczan.
        li 
          strong Prezentacje, lighting talki i networking
          | na każdym spotkaniu.
        li  
          | Zorganizowane dla
          strong wszystkich zainteresowanych
          | web devem. Nie ważne czy dopiero zaczynasz czy jesteś wyjadaczem.
        li
          | Zapraszamy nieważne jakim językiem programowania władasz i w jakim frameworku pracujesz na codzień. Zapraszamy programistów
          strong ze wszystkich języków i frameworków
          |.
  .row
    .next-meeting.medium-7.columns
      h2 Najbliższe spotkanie:
      h4 Gdzie i kiedy:
      ul
        li 
          | 18:00 w 
          a href="https://www.facebook.com/ilikestrefa" target="_blank" 
            strong Klubie Strefa
      h4 Agenda:
      ul
        li Coś tam o rubim
        li Coś tam o javie
